.Map {
  padding: 5% 20%;
  text-align: center;
}

.Map .status {
  text-align: left;
}

.Map .status label {
  display: inline-block;
  margin: 1rem 4rem;
  font-weight: bold;
}

.Map .content * {
  width: 50vw;
  height: auto;
}
